/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px 0;
}


h1 {
    font-size: 200px;
    margin: 0;
    
    
}
h3 {
    font-size: 40px;
    margin: 0;
    
}

/* CSS */
section {
    padding: 50px 0;
    text-align: center;
}

.imagen-llamativa {
    position: relative;
    display: inline-block;
}

.imagen-llamativa img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.texto-superpuesto {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    font-size: 100px;
    
}


form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


.carousel-container {
    position: relative;
    max-width: 84%; /* Cambiado a 100% */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px; /* Borde redondeado */
    
   
}

.carousel-slide {
    display: flex;
    gap: 10px; /* Espacio entre imágenes */
    width: calc(100% + 20px); /* Cambiado a 100% */
    margin-left: -10px; /* Para compensar el espacio entre imágenes */
}

.carousel-slide img {
    width: 100%;
    border-radius: 15px; /* Borde redondeado para cada imagen */
} 


#prevBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    left: 10px;
}

#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    right: 10px;
}

#imagen-llamativa {
    width: 100%; 
    object-fit: cover; /* Para ajustar la imagen y cubrir todo el contenedor */   
   
}

.texto-superpuesto{ 
    
    margin-left: 10px;
    text-align: right;
    width: 50%; 
    border: solid 5px;


}

#testimonios {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.testimonio-container {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}

.testimonio {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

  /* Row de informacion */
  .row {
    /*border: solid;
    border: color(srgb red green blue);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajusta el espacio entre las columnas */
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.column {
    flex: 0 0 calc(25% - 10px); /* Ajusta el ancho de cada columna */
    margin-bottom: 20px; /* Espacio entre filas */
    box-sizing: border-box;
    text-align: center;
}

/* Estilos para las imágenes */
h4 { 
    font-size: 30px;
 
}